$heading-margin: 30px;
$input-padding: 30px;

.heading {
  margin-bottom: $heading-margin;
  margin-top: $heading-margin;
}

.select {
  display: flex;
  flex-direction: row;
  div {
    padding: $input-padding;
  }
}

.input {
  display: flex;
  div {
    padding: $input-padding;
  }
}

.input-div-1 {
  min-width: 200px;
}

.input-div-2 {
  input{
    &:focus {
      outline: none;
    }
  }
}

#bg-name {
  height: 300px;
  width: 500px;
}

.my-buttons {
  display: flex;
  justify-content: flex-end;
  input {
    margin: 5px;
  }
}

#delete-btn {
  display: none;
}

.show {
  display: block !important;
}
